<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "RailsSalesDashboard" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-gray-900 text-gray-100">
    <header class="antialiased container max-w-screen-md mx-auto px-5 mt-5">
      <nav class="rounded border-gray-200 px-4 lg:px-6 py-2.5 bg-gray-800 flex flex-wrap justify-between items-center">
        <%= link_to 'Donations', root_path, class: 'self-center text-2xl font-semibold whitespace-nowrap dark:text-white' %>

        <div>
          <%= link_to 'Dashboard', root_path %>
          <%= link_to 'Campaigns', campaigns_path %>
        </div>
      </nav>
    </header>
    <main class="container max-w-screen-md mx-auto mt-8 px-5 flex flex-wrap">
      <%= yield %>
    </main>
  </body>
</html>
